.Login{background-color:hotpink;
float:left;
height:300px;
width:40%;
}

.Requirements{background-color:green;
float:left;
height:300px;
width:60%;
}

.footer{background-color: blue;
width: 100px;
height:100px;
 }
